<div>
  <h3>Post List</h3>
  <hr/>
</div>
<div>
  <a [routerLink]="['/posts','add']">Add Post</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let post of posts$ | async">
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>{{post.description}}</td>
      <td>
        <a href="" [routerLink]="['/posts', 'edit', post.id]">Edit Post</a>&nbsp;
        <a href="" (click)="post.id && onDeletePost($event, post.id)">Delete Post</a>&nbsp;
        <a href="" [routerLink]="['/posts', 'details', post.id]">View Details</a>
      </td>
    </tr>
  </tbody>
</table>
